:root {
  --blue-text: rgb(10, 0, 150);
  --blue-info: rgb(5, 80, 160);
  --blue-button: rgb(55, 90, 180);
  --gray: rgb(215, 200, 200);
  --dark-gray: rgb(80, 80, 80);
}

.item {
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  margin: 5%;
  font-family: 'Times New Roman', Times, serif;
  padding: 2.5%;
  background-color: white;
  border: solid white 1px;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 2;
}

.category {
  color: var(--dark-gray);
  font-size: 0.8rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.title {
  color: black;
  font-size: 1.2rem;
  margin: 0;
}

.author {
  color: var(--blue-text);
  font-size: 1rem;
  font-weight: 200;
}

.actions {
  display: flex;
  gap: 15px;
  color: var(--blue-text);
  font-size: 0.8rem;
  padding-inline-start: 0;
  list-style: none;
}

.progress {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1;
}

.pie {
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  border: solid purple 5px;
}

.percentage {
  color: var(--dark-gray);
  font-size: 1rem;
}

.percentage h5 {
  color: black;
  font-size: 2rem;
  margin: 0;
}

.update {
  max-width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  text-align: left;
}

.label {
  color: gray;
  margin: 0;
}

.currentChapter {
  color: black;
  min-height: 60px;
}

.update button {
  background-color: var(--blue-button);
  color: white;
  font-weight: 200;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
}
