.App {
  text-align: center;
  background-color: rgb(230, 230, 230);
}

.App-logo {
  width: 3rem;
  margin-right: 10px;
  margin-left: auto;
}

h1 {
  color: var(--blue-info);
  font-size: 2rem;
  margin: 10px 0;
}

nav {
  display: flex;
  align-items: center;
  padding: 15px 50px;
  border-bottom: rgb(220, 220, 220) 1px outset;
  background-color: white;
  gap: 50px;
}

nav ul > * {
  margin: 5px 20px;
  text-decoration: none;
  font-weight: 300;
}

ul {
  padding-inline-start: 0;
}

@media (max-width: 635px) {
  .App {
    margin-bottom: 200px;
  }
}

@media (min-width: 635px) {
  .App {
    margin-bottom: 160px;
  }
}

@media (min-width: 960px) {
  .App {
    margin-bottom: 110px;
  }
}
